* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f1f1f1;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 80vh;
  width: 500px;
  border: 1px solid #aaa;
  overflow: hidden;
}

.after_image {
  top: 0;
  left: 0;
  width: 500px;
  height: 100%;
  background-image: url("../assets/after.PNG");
  background-size: cover;
  background-repeat: no-repeat;

  z-index: 10;
}
.after {
  width: 50%;
  height: 100%;
  z-index: 10;
  left: 0;
  position: absolute;
  overflow: hidden;
}

.before_image {
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  background-image: url("../assets/before.PNG");
  background-size: cover;
  background-repeat: no-repeat;
}

.before {
  width: 100%;
  height: 100%;
  z-index: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}

.resizer {
  width: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  left: calc(50% - 5px);
  top: 0;
  cursor: ew-resize;
  z-index: 100;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.prev_icon,
.next_icon {
  padding: 10px;
}

.after_text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 20px;
  z-index: 20;
  user-select: none;
}

.before_text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  font-size: 20px;
  z-index: 20;
  user-select: none;
}
